click==7.1.2
DAWG-Python==0.7.2
docopt==0.6.2
intervaltree==3.1.0
ipymarkup==0.9.0
joblib==0.17.0
natasha==1.4.0
navec==0.10.0
nltk==3.5
numpy==1.19.4
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
razdel==0.5.0
regex==2020.11.13
scikit-learn==0.23.2
scipy==1.5.4
slovnet==0.5.0
sortedcontainers==2.3.0
threadpoolctl==2.1.0
tqdm==4.52.0
yargy==0.15.0
